<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Website_2_APK_Builder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Website 2 APK Builder 2.0"/>
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Website_2_APK_Builder.My.MySettings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="AdID" serializeAs="String">
                <value />
            </setting>
            <setting name="About_Dialog_Text" serializeAs="String">
                <value> App Created with Website 2 APK Builder</value>
            </setting>
            <setting name="Inter_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="Inter_Refresh" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="alias_name" serializeAs="String">
                <value>testkey</value>
            </setting>
            <setting name="ks_location" serializeAs="String">
                <value />
            </setting>
            <setting name="ks_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="alias_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="current_lang" serializeAs="String">
                <value>lang_en</value>
            </setting>
        </Website_2_APK_Builder.My.MySettings>
    </userSettings>
</configuration>
